<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!-- 變數定義 -->
  <variable name="logDirectory" value="${basedir}/Logs"/>
  <variable name="logFileName" value="GasAccounting-${shortdate}.log"/>
  
  <!-- 目標輸出設定 -->
  <targets>
    <!-- 檔案輸出 -->
    <target xsi:type="File" 
            name="logfile" 
            fileName="${logDirectory}/${logFileName}"
            encoding="utf-8"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="LayoutRenderer">
        <layout xsi:type="SimpleLayout" text="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message} ${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString,StackTrace}" />
      </layout>
    </target>

    <!-- Console 輸出 (除錯用) -->
    <target xsi:type="Console" 
            name="console"
            encoding="utf-8">
      <layout xsi:type="SimpleLayout" text="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}" />
    </target>
  </targets>

  <!-- 規則設定 -->
  <rules>
    <!-- 所有 Info 以上的訊息都寫入檔案 -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    
    <!-- Debug 模式時，Trace 以上的訊息寫入 Console -->
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>

