<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.1" targetFramework="net472" />
  <package id="Castle.Core" version="5.1.1" targetFramework="net472" />
  <package id="ClosedXML" version="0.104.2" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.31.1" targetFramework="net472" />
  <package id="Irony.NetCore" version="1.0.11" targetFramework="net472" />
  <package id="itext" version="8.0.4" targetFramework="net472" />
  <package id="itext.bouncy-castle-adapter" version="8.0.4" targetFramework="net472" />
  <package id="itext.commons" version="8.0.4" targetFramework="net472" />
  <package id="itext.pdfhtml" version="5.0.4" targetFramework="net472" />
  <package id="itext7.bouncy-castle-adapter" version="8.0.4" targetFramework="net472" />
  <package id="itext7.pdfhtml" version="5.0.4" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.9" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.9" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.8.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.8.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.8.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="1.8.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.8.2" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="17.13.0" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net472" />
  <package id="Moq" version="4.20.72" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="3.10.2" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.10.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="3.10.2" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net472" />
  <package id="MySql.Data.EntityFramework" version="8.0.11" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="5.4.0" targetFramework="net472" />
  <package id="NUnit" version="4.2.2" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="RBush" version="4.0.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.9" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="9.0.5" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity" version="5.11.10" targetFramework="net472" />
  <package id="XLParser" version="1.5.2" targetFramework="net472" />
</packages>